<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="city/showListCity::staticFile"></div>
</head>
<body>
<div class="container">
    <th:block th:object="${city}">
    <h3>Thành phố <span th:text="*{cityName}"></span></h3>
        <a class="btn btn-outline-dark" th:href="@{/}">Xem danh sách thành phố</a>
        <input type="hidden" th:field="*{id}">
        <table>
            <tr>
                <td style="width: 100px">Tên</td>
                <td th:text="*{cityName}"></td>
            </tr>
            <tr>
                <td>Quốc Gia</td>
                <td th:text="*{country.countryName}"></td>
            </tr>
            <tr>
                <td>Diện tích</td>
                <td th:text="*{area}"></td>
            </tr>
            <tr>
                <td>Dân số</td>
                <td th:text="*{population}"></td>
            </tr>
            <tr>
                <td>GDP</td>
                <td th:text="*{gdp}"></td>
            </tr>
            <tr>
                <td>Giới thiệu</td>
                <td th:text="*{des}"></td>
            </tr>
            <tr>
                <td></td>
                <td><a class="btn btn-outline-dark" th:href="@{/edit/__${city.id}__}">Chỉnh sửa</a>
                    <a class="btn btn-outline-dark" th:href="@{/}">Thoát</a></td>
            </tr>
        </table>
    </th:block>
</div>
</body>
</html>